@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:url("../images/tajmahal.jpg") no-repeat center center fixed;
background-size:cover;
min-height:100vh;
}

.navbar{
background:rgba(0,0,0,.75);
padding:18px 70px;
}

.navbar-brand{
color:white;
font-size:28px;
font-weight:700;
}

.nav-link{
color:white !important;
margin-left:20px;
}



.login-section {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.login-card {
    width: 370px;
    max-width: 100%;
    background: #ffffffe6;
    padding: 35px;
    border-radius: 22px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
}

.login-card h1{
font-weight:700;
margin-bottom:5px;
}

.login-card p{
color:#666;
margin-bottom:25px;
}

.form-control{
height:50px;
border-radius:10px;
}

.btn-warning{
height:50px;
font-weight:600;
border-radius:10px;
font-size: 17px;
}

a{
text-decoration:none;
}


.login-message {
    background: #fff3cd;
    color: #856404;
    border: 1px solid #ffe69c;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}