<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <button type="submit" name="send_otp" class="btn-login">
        Send OTP
    </button>

    <br><br>

    <div class="mb-3">
        <label>OTP</label>
        <input type="text" name="otp" class="form-control">
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="new_password" class="form-control">
    </div>

    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control">
    </div>

    <button type="submit" name="reset_password" class="btn-login">
        Reset Password
    </button>

</form>