<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>
<body>

<h2>My Profile</h2>

<form method="POST">
    {% csrf_token %}

    <label>Username:</label><br>
    <input type="text" name="username" value="{{ request.user.username }}"><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ request.user.email }}"><br><br>

    <label>First Name:</label><br>
    <input type="text" name="first_name" value="{{ request.user.first_name }}"><br><br>

    <label>Last Name:</label><br>
    <input type="text" name="last_name" value="{{ request.user.last_name }}"><br><br>

    <button type="submit">Edit Profile</button>

</form>

<br>

<a href="{% url 'user_home' %}">Home</a> |
<a href="{% url 'logout' %}">Logout</a>|
<a href="{% url 'change_password' %}">Change password</a>
</body>
</html>